main {
  height: 98%;
  width: 98%;
  position: absolute;
}

header {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
  font-family: "Roboto Slab", serif;
}

section {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.add-todo-section {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}

button {
  font-size: 15px;
  width: 80px;
  height: 50%;
}

#logout-button {
  position: fixed;
  right: 20px;
  top: 10px;
}

.dashboard {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#listArea {
  width: 25%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  /* font-family: "Gloria Hallelujah", cursive; */
}

#itemArea {
  width: 65%;
  border: 1px solid black;
  /* text-align: center; */
}

.todo {
  font-size: 25px;
}

#todoTitle {
  font-size: 40px;
  text-align: center;
}

#todoDescription {
  font-size: 30px;
  text-align: center;
}
.addItemDiv input {
  width: 70%;
}

.addItemDiv {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.tasksDiv {
  display: flex;
  flex-direction: column;
}
