.login-main {
  font-family: "Nunito", sans-serif;
  height: 98%;
  width: 99%;
  position: absolute;
}

.login-header {
  font-size: 50px;
  height: 10%;
  border-bottom: 1px solid #20bbd9;
}

.login-section {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.image {
  width: 50%;
  height: 100%;
  background-image: url("../resources/to-do-list.jpg");
  background-size: cover;
}

.login-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  border-radius: 5%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.47);
}

.form-title {
  width: 100%;
  height: 20%;
  font-size: 40px;
  text-align: center;
}

.form {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form input {
  width: 100%;
  text-align: center;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
}

.form input::placeholder {
  color: rgb(146, 150, 157);
}

.form input:focus {
  outline: none;
  border-bottom: 3px solid skyblue;
}

.form button {
  height: 20%;
  width: 70%;
  font-size: 25px;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 20px;
}

.form button:focus {
  background-color: #62c6e0;
  height: 21%;
  width: 71%;
  font-size: 26px;
  outline: none;
}

.form button:hover {
  background-color: #62c6e0;
  height: 21%;
  width: 71%;
  font-size: 26px;
  outline: none;
}
